<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 3px solid black;
          }
    </style>
</head>
<body>
    
    <center>

        <h1> Display_Access </h1>

    
            <table>

                <tr>

                    <th>slno</th>
                    <th>Name</th>
                    <th>date</th>
                    <th>Author</th>
                    <th>email</th>
                    
                </tr>
    
                {% for ao in QSAO %}

                    <tr>

                        <td>{{ao.slno}}</td>
                        <td>{{ao.name}}</td>
                        <td>{{ao.date}}</td>
                        <td>{{ao.author}}</td>
                        <td>{{ao.email}}</td>

                    </tr>
    
                {% endfor %}
    
            </table>

    </center>

</body>
</html>